*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, serif ;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    display: flex;
    padding: 63px 0;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: 4px underline #4BCAFF ;
}
a span{
    color: #4BCAFF;

}
.top-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    width: 1280px;
    height: 69px;
    font-size: 24px;
    line-height: 28px;
    background: #35444f;
    color: #FFFFFF;
}
.top-menu li:hover{
    background-color: #222F3A;

}
.top-menu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.box-1{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.box-2{
    border-right: 1px solid white;
}
.main-table{
    display: flex;
    justify-content: space-between;
align-items: flex-start;
    margin-top: 30px;
}
.pict{
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid #000000;
    padding: 75px 0;
}
img:hover{
    transform: scale(1.1);
}
.left-menu ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 80px;
    font-size: 27px;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.0001);
    color: #495863;
}
.left-menu{
    border: 1px solid #000000;
    margin: 0 50px 0 0;
}

.left-menu li:hover{
    padding-left: 70px;
    background-color: #DBDBDB;
    color: black;
}
.content{
    display: flex;
    flex-direction: column;

}
.content p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 28px;
    line-height: 28px;
    width: 900px;
    color: #0C1927;
}

footer ul li:hover{
    text-decoration: 2px underline #3181A6 ;
    text-underline-offset: 17px;
    color: #3181A6;
}
.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    width: 16%;
}